body {
  padding-top: 70px;
  padding-bottom: 173px;
}

.message-editor {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
  padding: 10px 0;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
}

@media (min-width: 768px) {
  body {
    padding-bottom: 128px;
  }
}
